In [4]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("../data/raw/athlete_events.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [59]:
df = df.drop(columns=['Games'])

KeyError: "['Games'] not found in axis"

In [58]:
df_countries = pd.read_csv('../data/raw/noc_regions.csv')
df_countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NOC     229 non-null    object
 1   region  229 non-null    object
 2   notes   20 non-null     object
dtypes: object(3)
memory usage: 5.5+ KB

In [64]:
df_countries = pd.read_csv('../data/raw/noc_regions.csv')
df_countries.info()
df_countries['NOC'].unique()
df_countries['region'].unique()
dic = {}
for i, k in zip(df_countries['NOC'], df_countries['region']):
    dic[i] = k
dic

{'AFG': 'Afghanistan',
 'AHO': 'Curacao',
 'ALB': 'Albania',
 'ALG': 'Algeria',
 'AND': 'Andorra',
 'ANG': 'Angola',
 'ANT': 'Antigua',
 'ANZ': 'Australia',
 'ARG': 'Argentina',
 'ARM': 'Armenia',
 'ARU': 'Aruba',
 'ASA': 'American Samoa',
 'AUS': 'Australia',
 'AUT': 'Austria',
 'AZE': 'Azerbaijan',
 'BAH': 'Bahamas',
 'BAN': 'Bangladesh',
 'BAR': 'Barbados',
 'BDI': 'Burundi',
 'BEL': 'Belgium',
 'BEN': 'Benin',
 'BER': 'Bermuda',
 'BHU': 'Bhutan',
 'BIH': 'Bosnia and Herzegovina',
 'BIZ': 'Belize',
 'BLR': 'Belarus',
 'BOH': 'Czech Republic',
 'BOL': 'Boliva',
 'BOT': 'Botswana',
 'BRA': 'Brazil',
 'BRN': 'Bahrain',
 'BRU': 'Brunei',
 'BUL': 'Bulgaria',
 'BUR': 'Burkina Faso',
 'CAF': 'Central African Republic',
 'CAM': 'Cambodia',
 'CAN': 'Canada',
 'CAY': 'Cayman Islands',
 'CGO': 'Republic of Congo',
 'CHA': 'Chad',
 'CHI': 'Chile',
 'CHN': 'China',
 'CIV': 'Ivory Coast',
 'CMR': 'Cameroon',
 'COD': 'Democratic Republic of the Congo',
 'COK': 'Cook Islands',
 'COL': 'Colombia',
 'COM': 'Comoros',
 'CPV': 'Cape Verde',
 'CRC': 'Costa Rica',
 'CRO': 'Croatia',
 'CRT': 'Greece',
 'CUB': 'Cuba',
 'CYP': 'Cyprus',
 'CZE': 'Czech Republic',
 'DEN': 'Denmark',
 'DJI': 'Djibouti',
 'DMA': 'Dominica',
 'DOM': 'Dominican Republic',
 'ECU': 'Ecuador',
 'EGY': 'Egypt',
 'ERI': 'Eritrea',
 'ESA': 'El Salvador',
 'ESP': 'Spain',
 'EST': 'Estonia',
 'ETH': 'Ethiopia',
 'EUN': 'Russia',
 'FIJ': 'Fiji',
 'FIN': 'Finland',
 'FRA': 'France',
 'FRG': 'Germany',
 'FSM': 'Micronesia',
 'GAB': 'Gabon',
 'GAM': 'Gambia',
 'GBR': 'UK',
 'GBS': 'Guinea-Bissau',
 'GDR': 'Germany',
 'GEO': 'Georgia',
 'GEQ': 'Equatorial Guinea',
 'GER': 'Germany',
 'GHA': 'Ghana',
 'GRE': 'Greece',
 'GRN': 'Grenada',
 'GUA': 'Guatemala',
 'GUI': 'Guinea',
 'GUM': 'Guam',
 'GUY': 'Guyana',
 'HAI': 'Haiti',
 'HKG': 'China',
 'HON': 'Honduras',
 'HUN': 'Hungary',
 'INA': 'Indonesia',
 'IND': 'India',
 'IOA': 'Individual Olympic Athletes',
 'IRI': 'Iran',
 'IRL': 'Ireland',
 'IRQ': 'Iraq',
 'ISL': 'Iceland',
 'ISR': 'Israel',
 'ISV': 'US',
 'ITA': 'Italy',
 'IVB': 'Virgin Islands, British',
 'JAM': 'Jamaica',
 'JOR': 'Jordan',
 'JPN': 'Japan',
 'KAZ': 'Kazakhstan',
 'KEN': 'Kenya',
 'KGZ': 'Kyrgyzstan',
 'KIR': 'Kiribati',
 'KOR': 'South Korea',
 'KOS': 'Kosovo',
 'KSA': 'Saudi Arabia',
 'KUW': 'Kuwait',
 'LAO': 'Laos',
 'LAT': 'Latvia',
 'LBA': 'Libya',
 'LBR': 'Liberia',
 'LCA': 'Saint Lucia',
 'LES': 'Lesotho',
 'LIB': 'Lebanon',
 'LIE': 'Liechtenstein',
 'LTU': 'Lithuania',
 'LUX': 'Luxembourg',
 'MAD': 'Madagascar',
 'MAL': 'Malaysia',
 'MAR': 'Morocco',
 'MAS': 'Malaysia',
 'MAW': 'Malawi',
 'MDA': 'Moldova',
 'MDV': 'Maldives',
 'MEX': 'Mexico',
 'MGL': 'Mongolia',
 'MHL': 'Marshall Islands',
 'MKD': 'Macedonia',
 'MLI': 'Mali',
 'MLT': 'Malta',
 'MNE': 'Montenegro',
 'MON': 'Monaco',
 'MOZ': 'Mozambique',
 'MRI': 'Mauritius',
 'MTN': 'Mauritania',
 'MYA': 'Myanmar',
 'NAM': 'Namibia',
 'NBO': 'Malaysia',
 'NCA': 'Nicaragua',
 'NED': 'Netherlands',
 'NEP': 'Nepal',
 'NFL': 'Canada',
 'NGR': 'Nigeria',
 'NIG': 'Niger',
 'NOR': 'Norway',
 'NRU': 'Nauru',
 'NZL': 'New Zealand',
 'OMA': 'Oman',
 'PAK': 'Pakistan',
 'PAN': 'Panama',
 'PAR': 'Paraguay',
 'PER': 'Peru',
 'PHI': 'Philippines',
 'PLE': 'Palestine',
 'PLW': 'Palau',
 'PNG': 'Papua New Guinea',
 'POL': 'Poland',
 'POR': 'Portugal',
 'PRK': 'North Korea',
 'PUR': 'Puerto Rico',
 'QAT': 'Qatar',
 'RHO': 'Zimbabwe',
 'ROT': 'Refugee Olympic Team',
 'ROU': 'Romania',
 'RSA': 'South Africa',
 'RUS': 'Russia',
 'RWA': 'Rwanda',
 'SAA': 'Germany',
 'SAM': 'Samoa',
 'SCG': 'Serbia',
 'SEN': 'Senegal',
 'SEY': 'Seychelles',
 'SIN': 'Singapore',
 'SKN': 'Turks and Caicos Islands',
 'SLE': 'Sierra Leone',
 'SLO': 'Slovenia',
 'SMR': 'San Marino',
 'SOL': 'Solomon Islands',
 'SOM': 'Somalia',
 'SRB': 'Serbia',
 'SRI': 'Sri Lanka',
 'SSD': 'South Sudan',
 'STP': 'Sao Tome and Principe',
 'SUD': 'Sudan',
 'SUI': 'Switzerland',
 'SUR': 'Suriname',
 'SVK': 'Slovakia',
 'SWE': 'Sweden',
 'SWZ': 'Swaziland',
 'SYR': 'Syria',
 'TAN': 'Tanzania',
 'TCH': 'Czech Republic',
 'TGA': 'Tonga',
 'THA': 'Thailand',
 'TJK': 'Tajikistan',
 'TKM': 'Turkmenistan',
 'TLS': 'Timor-Leste',
 'TOG': 'Togo',
 'TPE': 'Taiwan',
 'TTO': 'Trinidad',
 'TUN': 'Tunisia',
 'TUR': 'Turkey',
 'TUV': 'Tuvalu',
 'UAE': 'United Arab Emirates',
 'UAR': 'Syria',
 'UGA': 'Uganda',
 'UKR': 'Ukraine',
 'URS': 'Russia',
 'URU': 'Uruguay',
 'USA': 'USA',
 'UZB': 'Uzbekistan',
 'VAN': 'Vanuatu',
 'VEN': 'Venezuela',
 'VIE': 'Vietnam',
 'VIN': 'Saint Vincent',
 'VNM': 'Vietnam',
 'WIF': 'Trinidad',
 'YAR': 'Yemen',
 'YEM': 'Yemen',
 'YMD': 'Yemen',
 'YUG': 'Serbia',
 'ZAM': 'Zambia',
 'ZIM': 'Zimbabwe'}

In [67]:
df['NOC'] = df['NOC'].replace(dic)

df['NOC'].unique()

array(['China', 'Denmark', 'Netherlands', 'USA', 'Finland', 'Norway',
       'Romania', 'Estonia', 'France', 'Morocco', 'Spain', 'Egypt',
       'Iran', 'Bulgaria', 'Italy', 'Chad', 'Azerbaijan', 'Sudan',
       'Russia', 'Argentina', 'Cuba', 'Belarus', 'Greece', 'Cameroon',
       'Turkey', 'Chile', 'Mexico', 'Nicaragua', 'Hungary', 'Nigeria',
       'Algeria', 'Kuwait', 'Bahrain', 'Pakistan', 'Iraq', 'Syria',
       'Lebanon', 'Qatar', 'Malaysia', 'Germany', 'Canada', 'Ireland',
       'Australia', 'South Africa', 'Eritrea', 'Tanzania', 'Jordan',
       'Tunisia', 'Libya', 'Belgium', 'Djibouti', 'Palestine', 'Comoros',
       'Kazakhstan', 'Brunei', 'India', 'Saudi Arabia', 'Maldives',
       'Ethiopia', 'United Arab Emirates', 'Yemen', 'Indonesia',
       'Philippines', 'SGP', 'Uzbekistan', 'Kyrgyzstan', 'Tajikistan',
       'Japan', 'Republic of Congo', 'Switzerland', 'Brazil', 'Monaco',
       'Israel', 'Uruguay', 'Sweden', 'US', 'Sri Lanka', 'Armenia',
       'Ivory Coast', 'Kenya', 'Benin', 'Ukraine', 'UK', 'Ghana',
       'Somalia', 'Latvia', 'Niger', 'Mali', 'Afghanistan', 'Poland',
       'Costa Rica', 'Panama', 'Georgia', 'Slovenia', 'Croatia', 'Guyana',
       'New Zealand', 'Portugal', 'Paraguay', 'Angola', 'Venezuela',
       'Colombia', 'Bangladesh', 'Peru', 'El Salvador', 'Puerto Rico',
       'Uganda', 'Honduras', 'Ecuador', 'Turkmenistan', 'Mauritius',
       'Seychelles', 'Czech Republic', 'Luxembourg', 'Mauritania',
       'Turks and Caicos Islands', 'Trinidad', 'Dominican Republic',
       'Saint Vincent', 'Jamaica', 'Liberia', 'Suriname', 'Nepal',
       'Mongolia', 'Austria', 'Palau', 'Lithuania', 'Togo', 'Namibia',
       'Curacao', 'Iceland', 'American Samoa', 'Samoa', 'Rwanda',
       'Dominica', 'Haiti', 'Malta', 'Cyprus', 'Guinea', 'Belize',
       'South Korea', 'Thailand', 'Bermuda', 'Serbia', 'Sierra Leone',
       'Papua New Guinea', 'Individual Olympic Athletes', 'Oman', 'Fiji',
       'Vanuatu', 'Moldova', 'Bahamas', 'Guatemala',
       'Virgin Islands, British', 'Mozambique',
       'Central African Republic', 'Madagascar', 'Bosnia and Herzegovina',
       'Guam', 'Cayman Islands', 'Slovakia', 'Barbados', 'Guinea-Bissau',
       'Timor-Leste', 'Democratic Republic of the Congo', 'Gabon',
       'San Marino', 'Laos', 'Botswana', 'Refugee Olympic Team',
       'Cambodia', 'North Korea', 'Solomon Islands', 'Senegal',
       'Cape Verde', 'Equatorial Guinea', 'Boliva', 'Andorra', 'Antigua',
       'Zimbabwe', 'Grenada', 'Saint Lucia', 'Micronesia', 'Myanmar',
       'Malawi', 'Zambia', 'Taiwan', 'Sao Tome and Principe', 'Macedonia',
       'Tonga', 'Liechtenstein', 'Montenegro', 'Gambia', 'Cook Islands',
       'Albania', 'Swaziland', 'Burkina Faso', 'Burundi', 'Aruba',
       'Nauru', 'Vietnam', 'Bhutan', 'Marshall Islands', 'Kiribati',
       'UNK', 'Tuvalu', 'Kosovo', 'South Sudan', 'Lesotho'], dtype=object)

In [69]:
df_1 = df[(df['Year'] >= 1946) & (df['Year'] <= 1991)]
df_1_sp = df[(df['Year'] >= 1946) & (df['Year'] <= 1959)]
df_2_sp = df[(df['Year'] >= 1960) & (df['Year'] <= 1991)]

In [74]:
for i in df.columns[3:6]:
    print(f"In column {i} There are :  {(((df[i].isnull().sum())/df[i].shape[0]))*100:.4f} %  missing values")

In column Age There are :  3.4944 %  missing values
In column Height There are :  22.1938 %  missing values
In column Weight There are :  23.1912 %  missing values

In [70]:
df_1_sp.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Event,Medal
29,10,"Einar Ferdinand ""Einari"" Aalto",M,26.0,NaN,NaN,Finland,Finland,1952,Summer,Helsinki,Swimming,Swimming Men's 400 metres Freestyle,NaN
41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,Finland,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze
42,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,Finland,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold
43,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,Finland,1948,Summer,London,Gymnastics,Gymnastics Men's Floor Exercise,NaN
44,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,Finland,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,Gold

In [71]:
for i in df_1_sp.columns[3:6]:
    print(f"In column {i} There are :  {(((df_1_sp[i].isnull().sum())/df_1_sp[i].shape[0]))*100:.4f} %  missing values")

In column Age There are :  8.9850 %  missing values
In column Height There are :  74.0332 %  missing values
In column Weight There are :  74.1406 %  missing values

In [72]:
for i in df_2_sp.columns[3:6]:
    print(f"In column {i} There are :  {(((df_2_sp[i].isnull().sum())/df_2_sp[i].shape[0]))*100:.4f} %  missing values")

In column Age There are :  1.2158 %  missing values
In column Height There are :  5.8614 %  missing values
In column Weight There are :  6.1723 %  missing values

In [73]:
Co = df_2_sp['NOC'].unique()

for i in Co:
    print(i, " = ", (df_2_sp[df_2_sp['NOC'] == i])['NOC'].count())

Netherlands  =  1532
Finland  =  1745
Norway  =  1389
France  =  3080
Bulgaria  =  1851
Sudan  =  68
Cameroon  =  135
Spain  =  1688
Russia  =  4742
Chile  =  232
Nicaragua  =  62
Mexico  =  1499
Nigeria  =  294
Chad  =  20
Italy  =  3217
Kuwait  =  159
Iraq  =  148
Syria  =  223
Egypt  =  380
Lebanon  =  215
Malaysia  =  253
Canada  =  3417
Tanzania  =  110
Jordan  =  30
Tunisia  =  202
Algeria  =  164
Djibouti  =  9
Iran  =  368
Saudi Arabia  =  88
Maldives  =  9
Bahrain  =  30
Ethiopia  =  148
Pakistan  =  231
Yemen  =  16
Philippines  =  388
United Arab Emirates  =  47
Libya  =  46
Japan  =  3163
Republic of Congo  =  58
Brazil  =  1012
Germany  =  7117
Israel  =  243
Argentina  =  1052
Sweden  =  2473
US  =  153
Benin  =  33
Somalia  =  18
Niger  =  17
Hungary  =  2392
UK  =  3671
India  =  449
Poland  =  2606
Costa Rica  =  160
Panama  =  79
USA  =  5162
Guyana  =  47
New Zealand  =  776
Portugal  =  409
Cuba  =  1007
Paraguay  =  41
Kenya  =  345
Peru  =  259
Turkey  =  391
Switzerland  =  2002
Uruguay  =  197
El Salvador  =  144
Colombia  =  385
Ghana  =  180
Uganda  =  160
Morocco  =  290
Belgium  =  881
Ivory Coast  =  92
Ecuador  =  99
Venezuela  =  300
Australia  =  2467
Czech Republic  =  2245
Mauritania  =  9
Trinidad  =  167
Dominican Republic  =  90
Saint Vincent  =  6
Puerto Rico  =  480
Jamaica  =  316
Monaco  =  54
Togo  =  19
Indonesia  =  117
Curacao  =  40
Mongolia  =  315
Iceland  =  245
Austria  =  1651
Romania  =  1945
Seychelles  =  36
Haiti  =  30
Malta  =  44
Luxembourg  =  198
Greece  =  483
Cyprus  =  62
Guinea  =  33
Denmark  =  788
Qatar  =  39
Sierra Leone  =  66
Afghanistan  =  53
Oman  =  35
Bangladesh  =  13
Serbia  =  1625
Bahamas  =  141
Guatemala  =  221
Mozambique  =  42
Bermuda  =  75
Samoa  =  20
Thailand  =  291
Central African Republic  =  19
Democratic Republic of the Congo  =  38
South Korea  =  1428
Cambodia  =  32
North Korea  =  306
Ireland  =  488
Guam  =  27
Belize  =  39
Senegal  =  216
Mauritius  =  18
Madagascar  =  46
SGP  =  68
Honduras  =  53
Boliva  =  70
Andorra  =  46
Virgin Islands, British  =  19
Fiji  =  81
Suriname  =  25
Solomon Islands  =  8
Barbados  =  101
China  =  1198
South Africa  =  76
Papua New Guinea  =  36
Myanmar  =  51
Malawi  =  63
Zambia  =  128
Zimbabwe  =  174
Mali  =  27
Cayman Islands  =  28
Botswana  =  27
Liechtenstein  =  199
Grenada  =  13
Angola  =  50
Nepal  =  49
San Marino  =  117
Antigua  =  69
Burkina Faso  =  10
Liberia  =  34
Sri Lanka  =  40
Equatorial Guinea  =  12
Gabon  =  7
Laos  =  22
Vietnam  =  89
Rwanda  =  14
Gambia  =  22
Taiwan  =  501
Bhutan  =  12
Vanuatu  =  6
Swaziland  =  30
American Samoa  =  6
Tonga  =  14
Aruba  =  12
Lesotho  =  20
Cook Islands  =  8
Albania  =  5